{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="about-page">

        <div class="about-top">

            <div class="about-left">

                <span class="about-label">— О НАС</span>

                <h1>
                    О МАСТЕРСКОЙ <br>
                    FLOWERNA
                </h1>

                <p class="about-subtitle">
                    Авторские букеты и флористика с характером
                </p>

                <div class="about-text">
                    <p>
                        Мы создаём букеты не по шаблону, а как настроение.
                        Каждый букет — это история, эмоция и момент.
                    </p>
                </div>

                <div class="about-features">

                    <div class="about-feature">

                        <img src="{% static 'images/hand.png' %}" alt="">

                        <h4>СОБИРАЕМ ВРУЧНУЮ</h4>

                        <p>
                            Наши композиции собираются вручную флористами,
                            с вниманием к деталям и сезону.
                        </p>

                    </div>

                    <div class="about-feature">

                        <img src="{% static 'images/lotus.png' %}" alt="">

                        <h4>ДАРИМ ЭМОЦИИ</h4>

                        <p>
                            Главная идея — дарить ощущение праздника
                            с первого взгляда.
                        </p>

                    </div>

                    <div class="about-feature">

                        <img src="{% static 'images/ear.png' %}" alt="">

                        <h4>С ЛЮБОВЬЮ К ДЕЛУ</h4>

                        <p>
                            Мы работаем под музыку и собираем букеты
                            только в хорошем настроении.
                        </p>

                    </div>

                </div>

            </div>


        </div>


        <!-- НИЖНИЙ БЛОК -->

        <div class="about-bottom">


            <div class="about-story">

                <p>
                    Самое важное в наших букетах — это первое впечатление.
                    Тот восторг, который испытывает человек при виде
                    раскидистого букета Flowerna.
                </p>

                <p>
                    Наши букеты — это сначала праздник,
                    который рождается в душе и глазах клиентов,
                    а уже потом — цветы.
                </p>

                <p>
                    Мы не работаем по шаблону,
                    а всегда оставляем место для творчества.
                </p>

            </div>
            <div class="about-photos">

                <img src="{% static 'images/about1.jpg' %}" alt="">
                <img src="{% static 'images/about2.jpg' %}" alt="">

            </div>
        </div>

    </section>

{% endblock %}