{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="catalog">

    <div class="catalog__header">
        <h1>Все цветы</h1>
        <p>Авторские букеты и композиции</p>
    </div>

    <div class="catalog__filters">
        <button class="active">Все</button>
        <button>Розы</button>
        <button>Пионы</button>
        <button>Тюльпаны</button>
        <button>Сезонные</button>
    </div>

    <!-- ✔️ КНОПКА ТОЛЬКО ДЛЯ АДМИНА -->
    {% if request.user.is_authenticated and request.user.is_staff %}
        <a href="{% url 'add_product' %}" class="btn btn-dark mb-3">
            + Добавить товар
        </a>
    {% endif %}

    <div class="catalog__grid">

        {% for product in products %}
        <div class="product-card">

            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            {% else %}
                <div class="product-card__img--empty"></div>
            {% endif %}

            <div class="product-info">
                <h3>{{ product.name }}</h3>
                <p>от {{ product.price }} ₽</p>
            </div>

        </div>
        {% endfor %}

    </div>

</section>

{% endblock %}