<footer class="footer">

    <div class="footer__top container">

        <div class="footer__col">
            <div class="footer__title">FLOWERNA</div>
            <p class="footer__text">
                Доставка авторских букетов<br>
                Москва и МО 24/7
            </p>
        </div>

        <div class="footer__col">
            <a href="{% url 'avtorskie-bukety' %}">Авторские букеты</a>
            <a href="{% url 'vazy' %}">Вазы</a>
            <a href="{% url 'mono-duo-trio-bukety' %}">Моно букеты</a>
            <a href="{% url 'korzini-cvetov' %}">Корзины цветов</a>
        </div>

        <div class="footer__col">
            <div class="footer__title">КОНТАКТЫ</div>
            <a href="tel:+70000000000">+7 000 000 00 00</a>
            <a href="#">Telegram</a>
        </div>

        <div class="footer__col">
            <div class="footer__title">ИНФО</div>
            <a href="{% url 'dostavka-i-oplata' %}">
                Доставка и оплата
            </a> <a href="#">Политика</a>
        </div>

    </div>

    <div class="footer__bottom">
        © 2026 FLOWERNA. Все права защищены
    </div>

</footer>