{% load static %}

<header class="header">

    <div class="container header__top">
        <div class="header__info">
            <span>ПРИЁМ ЗАКАЗОВ</span>
            <span>08:00 — 22:00 • ДОСТАВКА 24/7</span>
        </div>

        <div class="header__contacts">
            <a href="tel:+70000000000" class="btn">ПОЗВОНИТЬ</a>
            <a href="#" class="btn">НАПИСАТЬ В TG</a>
        </div>
    </div>

    <div class="header__divider"></div>


    <div class="container header__main">

        <a href="/" class="logo">
            <img src="{% static 'icons/logo.svg' %}" alt="Flowerna">
        </a>


        <nav class="nav">
            <a href="{% url 'home' %}">ГЛАВНАЯ</a>
            <a href="{% url 'catalog' %}">КАТАЛОГ</a>
            <a href="{% url 'kompanijam' %}">КОМПАНИЯМ</a>
            <a href="{% url 'about' %}">О НАС</a>
        </nav>

        <div class="header__icons">

            <a href="#" class="icon-btn">
                <img src="{% static 'icons/proicons_search.svg' %}" alt="search">
            </a>

            <a href="#" class="icon-btn">
                <img src="{% static 'icons/si_heart-line.svg' %}" alt="favorites">
            </a>

            <a href="#" class="icon-btn">
                <img src="{% static 'icons/bag.svg' %}" alt="bag">
            </a>

            <a href="{% url 'register' %}" class="icon-btn">
                <img src="{% static 'icons/profile.png' %}" alt="profile">
            </a>

        </div>

    </div>

</header>
