{#<!DOCTYPE html>#}
{#<html lang="ru">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{##}
{#    <title>#}
{#        {% if selected_category %}#}
{#            {{ selected_category.name }}#}
{#        {% else %}#}
{#            Каталог#}
{#        {% endif %}#}
{#    </title>#}
{##}
{#</head>#}
{##}
{#<body>#}
{##}
{##}
{#<h1>Каталог</h1>#}
{##}
{##}
{#<!-- Категории -->#}
{##}
{#<div class="categories">#}
{##}
{#    <h2>Категории</h2>#}
{##}
{#    <ul>#}
{##}
{#        <li>#}
{#            <a href="{% url 'catalog' %}">#}
{#                Все товары#}
{#            </a>#}
{#        </li>#}
{##}
{#        {% for category in categories %}#}
{##}
{#            <li>#}
{##}
{#                <a href="{% url 'category_detail' category.slug %}">#}
{##}
{#                    {{ category.name }}#}
{##}
{#                </a>#}
{##}
{#            </li>#}
{##}
{#        {% endfor %}#}
{##}
{#    </ul>#}
{##}
{#</div>#}
{##}
{##}
{#<!-- Товары -->#}
{##}
{#<div class="products">#}
{##}
{#    {% if selected_category %}#}
{##}
{#        <h2>{{ selected_category.name }}</h2>#}
{##}
{#    {% else %}#}
{##}
{#        <h2>Все товары</h2>#}
{##}
{#    {% endif %}#}
{##}
{##}
{#    {% if products %}#}
{##}
{#        <ul>#}
{##}
{#            {% for product in products %}#}
{##}
{#                <li>#}
{##}
{#                    {% if product.image %}#}
{#                        <img src="{{ product.image.url }}" width="150">#}
{#                    {% endif %}#}
{##}
{#                    <h3>{{ product.name }}</h3>#}
{##}
{#                    <p>{{ product.price }} ₽</p>#}
{##}
{#                    <a href="{% url 'product-detail' product.id %}">#}
{#                        Подробнее#}
{#                    </a>#}
{##}
{#                </li>#}
{##}
{#            {% endfor %}#}
{##}
{#        </ul>#}
{##}
{#    {% else %}#}
{##}
{#        <p>Товары отсутствуют</p>#}
{##}
{#    {% endif %}#}
{##}
{#</div>#}
{##}
{#</body>#}
{#</html>#}