{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="catalog">

        <div class="catalog__header">
            <h1>Цветы в коробке</h1>
            <p>ЦВЕТЫ В КОРОБКЕЦветы в шляпной коробке — это классика с историей, где оформление играет не меньшую роль,
                чем сами цветы. Композиция уже с влагой, не требует вазы и выглядит как законченный, стильный
                подарок.</p>
        </div>

        <div class="catalog__filters">
            <a href="{% url 'catalog' %}"
               class="btn {% if request.resolver_match.url_name == 'catalog' %}active{% endif %}">
                Все
            </a>

            <a href="{% url 'avtorskie-bukety' %}"
               class="btn {% if request.resolver_match.url_name == 'avtorskie-bukety' %}active{% endif %}">
                Авторские букеты
            </a>
            <a href="{% url 'mono-duo-trio-bukety' %}"
               class="btn {% if request.resolver_match.url_name == 'mono-duo-trio-bukety' %}active{% endif %}">
                Моно, дуо и трио-букеты
            </a>

            <a href="{% url 'korzini-cvetov' %}"
               class="btn {% if request.resolver_match.url_name == 'korzini-cvetov' %}active{% endif %}">
                Корзины цветов
            </a>


            <a href="{% url 'tsvety-v-korobkah' %}"
               class="btn {% if request.resolver_match.url_name == 'tsvety-v-korobkah' %}active{% endif %}">
                Цветы в коробке
            </a>

            <a href="{% url 'vazy' %}"
               class="btn {% if request.resolver_match.url_name == 'vazy' %}active{% endif %}">
                Вазы
            </a>
        </div>

        {% if request.user.is_authenticated and request.user.is_staff %}
            <a href="{% url 'add_product' %}" class="btn btn-dark mb-3">
                + Добавить товар
            </a>
        {% endif %}

        <div class="catalog__grid">

            {% for product in products %}

                <a href="{% url 'product-detail' product.id %}" class="product-link">

                    <div class="product-card">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        {% else %}
                            <div class="product-card__img--empty"></div>
                        {% endif %}

                        <div class="product-info">
                            <h3>{{ product.name }}</h3>
                            <p>от {{ product.price }} ₽</p>
                        </div>

                    </div>
                </a>
            {% endfor %}

        </div>

    </section>

{% endblock %}